*{
	margin:0;
	padding:0;
	font-family:'Inter';
	box-sizing:border-box;
	
}

::-webkit-scrollbar {
    width:0;
}
main{
	padding-left:300px;
	width:100%;
	word-wrap: break-word;
}
#sidebar{
	position:fixed;
	width:300px;
	height:100%;
	background-color:#F8F400;
	text-align:center;
	overflow-y:scroll;
	overflow-x:hidden;
}

#logo{
	width:300px;
}
/*search*/
#search{
	width:185.75px;
	height:30px;
	background-color:white;
	margin:0 auto;
	border-radius:5px;
	border:0;
	float:left;
	padding:0 5px;
}

#search-button{
	padding:5px;
	border:0;
	background-color:white;
	transition: 0.3s;
	border-radius:5px;
	width:50px;
	height:30px;
	float:right;
}
#search-button:hover{
	border:0;
	background-color:black;
	color:white;
}
#search-div{
	padding:0 25px;
}
.icon{
	width:20px;
	margin:0;
}

#search:active,#search:focus,#icon:focus{
	outline:0;
}

/*main buttons*/
#profile-button{
	background-color:white;
	border:0;
	width:260px;
	height:60px;
	border-radius:50px;
	transition: 0.3s;
	font-size:20pt;
	margin:10px 0;
}
#profile-button:hover{
	border:0;
	background-color:black;
	color:white;
}
#main-buttons{
	margin-top:50px;
}
#bottom-buttons{
	position:fixed;
	bottom:0;
	width:300px;
	height:100px;
}

@media (max-height:500px){
	#bottom-buttons{
	position:relative;
}
}
#add-button{
	width:90px;
	height:90px;
	float:right;
	background-color:black;
	margin: 0 15px 5px 0;
	border-radius:25px;
	transition: 0.3s;
	color:white;
	border:0;
}
#add-button:hover{
	background-color:white;
	color:black;
}
#add-button:active,#add-button:focus{
	outline:0;
}
#help{
	font-size:40px;
	position:absolute;
	width:80px;
	height:80px;
	float:left;
	border-radius:50px;
	transition: 0.3s;
	outline:0;
	border:0;
	bottom:10px;
	left:25px;
	background-color:white;
	color:black;
}
#help:hover{
	background-color:black;
	color:white;
}
#help:active,#help:focus{
	outline:0;
}
#button-circle{
	height:30px;
	width:30px;
	background-color:black;
	position:absolute;
	margin-top:1px;
	margin-left:20px;
	border-radius:50px;
}

#button-icons{
	color:white;
	width:20px;
	height:20px;
}